.site-nav-link {
  text-decoration: none;
  color: var(--headTextColor);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  display: block;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: $tablets-min) {
  }
  @media screen and (width: $tablets) {
  }
  @media screen and (min-width: $desktop) {
    padding: 32px 0;
  }
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--blueColor);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  display: flex;
  margin-left: 93px;

  @media screen and (max-width: $tablets-min) {
    display: none;
  }
  @media screen and (min-width: $tablets) {
  }
  @media screen and (min-width: $desktop) {
  }
}

.site-nav .item {
  margin-right: 50px;
  @media screen and (min-width: $tablets) {
    padding: 32px 0;
  }
  @media screen and (min-width: $desktop) {
    padding: 0;
  }
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-nav {
  display: flex;
  margin-left: auto;

  @media screen and (max-width: $tablets-min) {
    display: none;
  }
  @media screen and (max-width: $tablets) {
  }
  @media screen and (max-width: $desktop) {
    flex-direction: column;
  }
}

.contacts-nav .item + .item {
  @media screen and (max-width: $tablets-min) {
  }
  @media screen and (min-width: $tablets) {
  }
  @media screen and (min-width: $desktop) {
    margin-left: 50px;
  }
}

.contacts-nav:last-child {
  gap: 10px;
}

.main-nav {
  display: flex;
  align-items: center;
}
