.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablets) {
    width: $tablets;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
