.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (max-width: $tablets-min) {
  }
  @media screen and (min-width: $tablets) {
  }
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__link {
  padding: 0%;
  background: var(--whiteColor);
  border: 1px solid var(--iconColor);
  border-radius: 4px;
  display: flex;
  outline: none;
  align-items: center;
  justify-content: center;
  color: var(--iconColor);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: $tablets-min) {
    width: 210px;
    height: 92px;
  }
  @media screen and (min-width: $tablets) {
    width: 226px;
    height: 92px;
  }
  @media screen and (min-width: $desktop) {
    width: 170px;
    height: 92px;
  }
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--blueColor);
  color: var(--blueColor);
}

.clients__link-icon {
  color: currentColor;
}

.clients__link-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients__link-icon:hover {
  fill: var(--blueColor);
}

.clients__items {
  display: flex;

  @media screen and (max-width: $tablets-min) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  @media screen and (min-width: $tablets) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  @media screen and (min-width: $desktop) {
  }
}

.clients__items-item {
  @media screen and (max-width: $tablets-min) {
    width: 210px;
    margin-right: 0px;
  }
  @media screen and (min-width: $tablets) {
    width: 226px;
    margin-right: 0px;
  }
  @media screen and (min-width: $desktop) {
    width: 170px;
    margin-right: 0px;
  }
}

.clients__items-item:last-child {
  margin-right: 0px;
}

.clients__items--title-section {
  text-align: center;
  margin-bottom: 50px;

  color: var(--headTextColor);
  line-height: 1.17;
  font-size: 36px;
}
