.team {
  background-color: var(--backgroundGreyColor);

  @media screen and (max-width: $tablets-min) {
  }
  @media screen and (min-width: $tablets) {
  }
  @media screen and (min-width: $desktop) {
  }
}

.team .exeption-title {
  color: var(--headTextColor);
  line-height: 1.188;
  font-size: 16px;
}

.team .team-text {
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  line-height: 1.19;
}

.team .team-title {
  margin-bottom: 10px;

  color: var(--headTextColor);
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
}

.member-box {
  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--whiteColor);
}

.team .items {
  @media screen and (max-width: $tablets-min) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  @media screen and (min-width: $tablets) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  @media screen and (min-width: $desktop) {
  }
}

.team .item {
  @media screen and (max-width: $tablets-min) {
    margin-right: 0;
    // width: 450px;
  }
  @media screen and (min-width: $tablets) {
    margin-right: 0;
  }
  @media screen and (min-width: $desktop) {
  }
}

.member-box > img {
  @media screen and (max-width: $tablets-min) {
    width: 450px;
  }
  @media screen and (min-width: $tablets) {
    width: 354px;
  }
  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}
